.card {
    background-color: white;
    border-radius: 0.5rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.2s ease-in-out;
    padding: 16px;
    cursor: pointer;
    position: relative;
  }
  
  .card:hover {
    transform: scale(1.05);
  }
  
  .card img {
    width: 100%;
    height: 9rem;
    object-fit: cover;
    border-radius: 0.3rem;
    margin-bottom: 12px;
  }
  
  .card-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #666;
  }
  
  .card-content p {
    font-size: 0.9em;
    margin-top: 8px;
    color: #666;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    height: auto;
    line-height: 1.2em;
    text-align: center;
  }
  
  .card-content h3 {
    font-size: 1em;
    color: #1f2937;
    font-weight: bold;
    text-align: center;
  }
  