.notification {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Centre horizontalement et verticalement */
    padding: 15px 20px;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    max-width: 90%; /* Limite la largeur pour s'adapter aux écrans plus petits */
  }
  
  .notification.success {
    background-color: #28a745; /* Vert pour le succès */
  }
  
  .notification.error {
    background-color: #dc3545; /* Rouge pour les erreurs */
  }
  
  .notification .close-button {
    background: none;
    border: none;
    color: #fff;
    font-size: 18px;
    margin-left: 15px;
    cursor: pointer;
  }
  